*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
header{
    background-color: rgb(250, 246, 246);
    display: flex;
    padding: 5px;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    gap: 30px;

}
nav{
    height: 50px;
    color: darkblue;
    margin-top: 30px;
    line-height: 50PX;

}
.menu{
    height: 45px;
    background-color: black;
    font-weight: bold;

}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0px;
    }
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    display: block;
}
.menu ul li a:hover{
    background-color: orange;
    color : black;
}
.top{
    background-color:darkblue;
    height: 200px;
    width : 100%;
    color : white;
    padding: 20px;
}
.right{
     background-color:darkblue;
     display: flex;
    height: 325px;
    width: 75%;
    color:white;
    flex-direction: column;
    justify-content: center;
}
.left{
    background-color:darkblue;
    height: 325px;
    width: 25%;
    padding: 10px;
    color : white;
    
}
.layout{
    display: flex;
    flex-wrap: wrap;
}
footer{
    height: 80px;
    width: auto;
    background-color: rgb(250, 246, 246);
    color: black;
    display: flex;
    gap: 50px;
    text-align: start;
    padding: 10px;
    }
.course_list{
   width: 33%;
   
}
.courses{
  margin-top: 30px; 
    display: flex;
    gap: 10px;
   align-items: center;  /* vertically center */
  justify-content: center; /* horizontally center (optional) */
}
#contact{
    width: 33%;
}
#address{
    width: 34%;
}